<div class="navbar-wrapper">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/index.html">锦泰昌颜料有限公司</a>
                    </div>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/index.html">首页</a></li>
                        <li><a href="/company.html">公司</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                产品
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/product/iron_red.html">氧化铁红</a></li>
                                <li class="divider"></li>
                                <li><a href="/product/iron_yellow.html">氧化铁黄</a></li>
                                <li class="divider"></li>
                                <li><a href="/product/iron_black.html">氧化铁黑</a></li>
                                <li class="divider"></li>
                                <li><a href="/product/iron_orange.html">氧化铁橙</a></li>
                                <li class="divider"></li>
                                <li><a href="/product/iron_brown.html">氧化铁棕</a></li>
                                <li class="divider"></li>
                                <li><a href="/product/iron_green.html">复合铁绿</a></li>
                                <li class="divider"></li>
                                <li><a href="/product/iron_thin.html">超细氧化铁</a></li>
                                <li class="divider"></li>
                                <li><a href="/product/iron_tobacco.html">烟草级氧化铁</a></li>
                                <li class="divider"></li>
                                <li><a href="/product/iron_heavy.html">重质铁黄</a></li>
                                <li class="divider"></li>
                                <li><a href="/product/iron_calcination.html">锻烧氧化铁</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                服务
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/service/quality.html">质量</a></li>
                                <li class="divider"></li>
                                <li><a href="/service/packaging.html">包装</a></li>
                                <li class="divider"></li>
                                <li><a href="/service/load.html">装箱计算</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                联系
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/contact/message.html">留言</a></li>
                                <li class="divider"></li>
                                <li><a href="/contact/contact.html">联系我们</a></li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">语言 <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">English</a></li>
                                <li><a href="#">中文</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
