<div class="navbar-wrapper">
    <div class="container">
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/index.html">锦泰昌颜料有限公司</a>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/index.html">首页</a></li>
                        <li><a href="/company.html">公司</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                产品
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/product/iron_red.html">氧化铁红</a></li>
                                <li class="divider"></li>
                                <li><a href="/product/iron_yellow.html">氧化铁黄</a></li>
                                <li class="divider"></li>
                                <li><a href="/product/iron_black.html">氧化铁黑</a></li>
                                <li class="divider"></li>
                                <li><a href="/product/iron_orange.html">氧化铁橙</a></li>
                                <li class="divider"></li>
                                <li><a href="/product/iron_brown.html">氧化铁棕</a></li>
                                <li class="divider"></li>
                                <li><a href="/product/iron_green.html">复合铁绿</a></li>
                                <li class="divider"></li>
                                <li><a href="/product/iron_thin.html">超细氧化铁</a></li>
                                <li class="divider"></li>
                                <li><a href="/product/iron_tobacco.html">烟草级氧化铁</a></li>
                                <li class="divider"></li>
                                <li><a href="/product/iron_heavy.html">重质铁黄</a></li>
                                <li class="divider"></li>
                                <li><a href="/product/iron_calcination.html">锻烧氧化铁</a></li>
                            </ul>
                        </li>
                        <li><a href="#">服务</a></li>
                        <li><a href="#">联系</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">语言 <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">English</a></li>
                                <li><a href="#">中文</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>