<!DOCTYPE html>
<html>
<head>
    <title>氧化铁黑</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <!-- 引入 Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/carousel.css" rel="stylesheet">
    <!-- HTML5 Shiv 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
    <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>
        .remind{
            display: inline;
            padding: .2em .6em .3em;
            font-size: 75%;
            font-weight: 700;
            line-height: 1;
            color: #fff;
            vertical-align: baseline;
            border-radius: .25em;
            background-color: #777;
        }
    </style>
    <script>
        $(function(){
            $('#navbar').load("/common/navbar.html");
            $('#footer').load("/common/footer.html");
        });
    </script>
</head>
<body>
<div id="navbar" class="container">
</div>

<div class="container mainpic">
    <div class="jumbotron" style="background-image:url(/images/product/product_0.jpg);background-repeat:no-repeat; background-size:100% 100%;-moz-background-size:100% 100%;">
        <p>&nbsp;</p>
    </div>
</div>

<div class="container">
    <ol class="breadcrumb">
        <li>首页</li>
        <li>产品</li>
        <li class="active">氧化铁黑</li>
    </ol>
</div>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">氧化铁黑<span class="label label-info" style="margin-left: 15px">颜料索引：黑11 </span><span class="label label-warning" style="margin-left: 15px">索引号：77499</span></div>
        <table class="table">
            <th>产品</th><th>型号</th><th>TDS</th><th>MSDS </th>
            <tr><td >氧化铁黑</td><td>318</td>
                <td><a  target="_blank" href="/pdf/generic/web/viewer.html?file=http://localhost:8091/pdf">TDS</a></td>
                <td><a  target="_blank" href="/pdf/generic/web/viewer.html?file=http://localhost:8091/pdf">MSDS</a></td>
            </tr>
            <tr><td>氧化铁黑</td><td>330</td>
                <td><a  target="_blank" href="/pdf/generic/web/viewer.html?file=http://localhost:8091/pdf">TDS</a></td>
                <td><a  target="_blank" href="/pdf/generic/web/viewer.html?file=http://localhost:8091/pdf">MSDS</a></td>
            </tr>
            <tr><td>氧化铁黑</td><td>740</td>
                <td><a  target="_blank" href="/pdf/generic/web/viewer.html?file=http://localhost:8091/pdf">TDS</a></td>
                <td><a  target="_blank" href="/pdf/generic/web/viewer.html?file=http://localhost:8091/pdf">MSDS</a></td>
            </tr>
            <tr><td>氧化铁黑</td><td>750</td>
                <td><a  target="_blank" href="/pdf/generic/web/viewer.html?file=http://localhost:8091/pdf">TDS</a></td>
                <td><a  target="_blank" href="/pdf/generic/web/viewer.html?file=http://localhost:8091/pdf">MSDS</a></td>
            </tr>
            <tr><td>氧化铁黑</td><td>760</td>
                <td><a  target="_blank" href="/pdf/generic/web/viewer.html?file=http://localhost:8091/pdf">TDS</a></td>
                <td><a  target="_blank" href="/pdf/generic/web/viewer.html?file=http://localhost:8091/pdf">MSDS</a></td>
            </tr>
        </table>
    </div>
    <h5 class="remind">化学名四氧化三铁，分子式Fe3O4或Fe2O3·FeO，具有饱和的蓝墨光黑色，是一种重要的无机彩色颜料，具有较高的遮盖力、较强的着色力和良好的耐光性、耐候性，广泛用于油漆、涂料、建材、油墨、塑料、陶瓷、造纸、皮革等行业，具有广阔的市场空间。</h5>
</div>


<!-- FOOTER -->
<div class="container">
    <hr>
    <footer id="footer"></footer>
</div><!-- /.container -->

<!-- 包括所有已编译的插件 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>